* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 130vh;
    background-color: lightblue;
    text-align: center;

}

div {


    width: 40%;
    height: 500px;
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    
     
}

h1 {
    font-size: 50px;
    color: #5f6fed;
    text-shadow: 2px 2px red;
    font-family: Dancing Script;
    margin: 40px;
}

pre {
    font-family: Dancing Script;
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1.4px;
}


.foto{
    position: relative;
    overflow: hidden;
    border-radius: 50% 0px 50% 0px;
}
.mama{
    width:70%;
    height: auto;
    position: absolute;
    top:60px;
    left: 100px;
    padding: 10px;
    box-shadow: 0px 0px 5px white;
   
}
.puokste{
    width:100%;
    height: 500px; 
    position: absolute;
    top:0;
    left: 0;
    mix-blend-mode: screen;

}


footer{
width: 100%;
    height: 200px;
    background-image: url(hart.png);
    background-repeat: repeat;
background-size: contain; 
background-position: bottom;
}
footer p {
    
    font-family: Dancing Script;
    text-align: center;
    font-size: 30px;
}





